html, body {
    color: #636b6f;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

#body{
    background-color: #FF5A74;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: left;
}


.title {
    font-size: 25px;
    color: #64A2DB;
}

.m-b-md {
    margin: 150px 0px 0px 80px;
}

.sch{
    font-weight: bold;
    font-size: 50px;
    margin: 0px 0px 0px 80px;
    color: #FF5A74;
}

#rotate{
    border-top: 1000px solid transparent;
    border-left: 600px solid #81C8CE;
    border-bottom: 800px solid transparent;
    position: fixed;
    left: 0px;

}

#glass{
    position: absolute;
    margin: 0 0 0 0;
    width: 96%;
    height: 94%;
    background-color: #ffffff;  
}

#image{
    position: fixed;
    left: 45%;
    top: 90px;

}


.form{
    width: 35%;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #857E7E;
}


.u{
    margin: 70px 0 0 80px;
}

.p{
    margin: 40px 0 0 80px;
}

.control{
    color: #857E7E;
    border: none;
    border-radius: 0;
    margin-top: 3px;
    padding: 9px 0;
    width: 100%;
    font-size: 14px;
    outline: none;
    box-shadow: none;
    content: "";
    background-color: transparent;
}

.me{
    margin: 50px 0 0 80px;
}

input.btn1[type="submit"]{
    position: absolute;
    background: #FF5A74;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 80%;
    margin: 30px 0 0 20%;
    padding: 10px;
    width: 15%;
    outline: medium none;
    overflow: hidden;
    letter-spacing: 1px;
}

.text-f{
    margin: 30px 0px 0px 80px;
    color: #64A2DB;
    font-size: 16px;
}

.text-c{
    color: #857E7E;
}


/*forget*/
html, body {
    
    color: #636b6f;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

#body1{
    background-color: #F6F6F5;
}


.content {
    text-align: left;

}
.box {
    position:fixed;
}

.m {
    margin: 250px 0px 0px 200px;
}

.get {
    
    font-size: 36px;
    color: #81C8CE;
    font-weight: bold;
}

.col{
    color: #FF5A74;
}

.col1{
    color: #81C8CE;
}

.sml {
    position: absolute;
    font-size: 16px;
    width: 60%;
    word-wrap: break-word;
    
}

.size{
    margin: 20px 0px 0px 200px;
}

.size1{
    margin: 140px 0px 0px 200px;

}

#bg{
    position: fixed;
    top: -80px;
    left: 50px;
    opacity: 0.1;
    
}

.form-group{
    position: absolute;
    margin: 160px 0px 0px 200px;
    width: 65%;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #FF5A74;
}

.form-control {
    color:#FF5A74;
    border: none;
    border-radius: 0;
    margin-top: 3px;
    padding: 9px 0;
    width: 100%;
    font-size: 14px;
    outline: none;
    box-shadow: none;
    content: "";
    background-color: transparent;
}

input.btn[type="submit"]{
    position: absolute;
    background: #81C8CE;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 80%;
    margin: 270px 0px 0px 345px;
    padding: 10px;
    width: 35%;
    outline: medium none;
    overflow: hidden;
    letter-spacing: 1px;
}

#a{
    position: absolute;
    margin: 350px 0px 0px 220px;
    color: #81C8CE;
    font-size: 16px;
}

.pic{
    position: absolute;
    margin: 352px 0px 0px 200px;
}

/*STUDENTreport*/
html, body {
background-color: #F6F6F5;
color: #636b6f;
font-family: Roboto, bold;
font-weight: 100;
height: 100vh;
margin: 0;
max-width: 100%;
overflow-x: hidden;
}

/* The sidebar menu */
.sidenav {
height: 100%; /* Full-height: remove this if you want "auto" height */
width: 200px; /* Set the width of the sidebar */
position: fixed; /* Fixed Sidebar (stay in place on scroll) */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #FF5A74; /* Pink red */
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 40px;
}

.PB {
padding: 10px 10px 10px 60px;
color: #FFFFFF;
font-family: Roboto;
font-weight: bold;
font-size: 14px;
position: relative;
top:-110px;

}

/* The navigation menu links */
.sidenav a {
padding: 20px 20px 20px 40px;
text-decoration: none;
font-size: 13px;
font-family: Roboto;
color: #FFFFFF;
display: block;
position: relative;
top: -80px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #FF5A74;
font-weight: bold;
background-color: #F6F6F5;

}

/* Style page content */
.main {
margin-left: 160px; /* Same as the width of the sidebar */
padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.header-box {
margin-left: 200px;
position: relative;
padding-top: 5px;
width: 100%;
height:80px;
background-color: #FFFFFF;
box-shadow: 2px 2px 2px #A09E9E;
}

.dashboardtext {
position: relative;
top: -15px;
padding-left: 20px;
color:#81C8CE;
font-family: Roboto;
font-weight:bold;
}

.logout-box {
position: relative;
left: 900px;
top: 10px;
background-color: #F6F6F5;
width: 150px;
height: 40px;

}

.username {
position: relative;
left: 20px;
top: 5px;
color: #000000;
font-family: Roboto;
font-weight: bold; 
font-size: 12px;
}

.user-status {
position: relative;
left: 20px;
top: -5px;
color: #18BBD5;
font-family: Roboto;
font-weight: bold; 
font-size: 8px;
}

.studentdetail{
margin: 15px;
width: 380px;
height: 200px;
}

.box-A {
position: relative;
left: 230px;
top: 30px;
background-color: #FFFFFF;
width: 1095px;
height: 180px;

}

.box-B {
position: relative;
left: 230px;
top: 30px;
bottom: 30px;
background-color: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 400px;
height: 200px;

}

.box-C {
margin: 5px;
padding: 5px;
position: relative;
left: 1064px;
top: 30px;
background-color: #FFFFFF;
width: 250px;
height: 150px;

}

.box {
position: relative;
left: 250px;
top: 30px;
width: 900px;
height: 20px;

}

.A-heading {
position: relative;
left: 40px;
top: 105px;
color: #000000;
font-family: Roboto;
font-weight: bold; 
font-size: 18px;  
}

.A-subheading {
position: relative;
left: 40px;
top: 90px;
color: #736E6E;
font-family: Roboto;
font-style: italic;
font-weight: bold; 
font-size: 10px;  
}

.box-Aa {
position: relative;
left: 0px;
top: 160px;
background-color: #43D0BE;
width: 280px;
height: 60px;

}

.A-btext {
position: relative;
left: 100px;
top: 25px;
color: #FFFFFF;
font-family: Roboto;
font-weight: bold; 
font-size: 12px;  
}

.img {
position: relative;
top: -34px;
left: 15px;

}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

th, td {
padding: 8px;
text-align: left;
}

tr:nth-child(even) {
background-color: #eee;
border: 1px solid #eee;
}

input {
cursor: pointer;
}

.plea{
text-align: center;
}

/*PROFILE*/
html, body {
background-color: #F6F6F5;
color: #636b6f;
font-family: Roboto, bold;
font-weight: 100;
height: 100vh;
margin: 0;
max-width: 100%;
overflow-x: hidden;
}

.PB {
padding: 10px 10px 10px 60px;
color: #FFFFFF;
font-family: Roboto;
font-weight: bold;
font-size: 14px;
position: relative;
top:-110px;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #FF5A74;
font-weight: bold;
background-color: #F6F6F5;
}

.sidenav a.current {      /* THIS ONE UNTUK HIGHLIGHT CURRENT PAGE ++++++++++++++++++++++++++++++++++++++++*/
color: #FF5A74;
font-weight: bold;
background-color: #F6F6F5;

} 

/* Style page content */
.main {
margin-left: 160px; /* Same as the width of the sidebar */
padding: 0px 10px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
.header-box {
margin-left: 200px;
position: relative;
padding-top: 5px;
width: 100%;
height:80px;
max-width: 100%;
background-color: #FFFFFF;
box-shadow: 2px 2px 2px #A09E9E;
}
.dashboardtext {
position: relative;
top: -15px;
padding-left: 20px;
color: #D6D4D4;
font-family: Roboto;
font-weight:bold;
}
.profiletext {
position: absolute;
top: 42px;
left: 133px;
color: #81C8CE;
font-family: Roboto;
font-weight:bold;
}
.text {
position: absolute;
top: 85px;
left: 20px;
color: #565353;
font-family: Roboto;
font-weight:bold;
font-size: 13px;
}

.username {
position: relative;
left: 20px;
top: 5px;
color: #000000;
font-family: Roboto;
font-weight: bold; 
font-size: 12px;
}
.user-status {
position: relative;
left: 20px;
top: -5px;
color: #18BBD5;
font-family: Roboto;
font-weight: bold; 
font-size: 8px;
}
.img {
position: relative;
top: -34px;
left: 15px;

}
.img-sort {
position: absolute;
top: 43px;
left: 1030px;
}
.status {
position: absolute;
top: 130px;
left: 50px;
color: #FF5A74;
font-family: Roboto;
font-weight:bold;
font-size: 13px;

}
.student {
position: absolute;
top: 150px;
left: 50px;
color: #81C8CE;
font-family: Roboto;
font-weight:bold;
font-style: italic;
font-size: 13px;
}

.userstudent {
position: absolute;
top: -22px;
left: 10px;
color:#FF5A74;
font-family: Roboto;
font-weight:bold;
font-size: 13px;
background-color: #F6F6F5; 
}

.userbox {
position: absolute;
top: 220px;
left: 50px;
border: 1px solid #81C8CE;
border-radius: 25px;
width: 550px;
height: 50px;
box-shadow: 3px 3px 3px #C4C4C4;
}

.userstudent {
position: absolute;
top: -22px;
left: 10px;
color:#FF5A74;
font-family: Roboto;
font-weight:bold;
font-size: 13px;
background-color: #F6F6F5; 
}
.B {
position: absolute;
top: 90px;
}
.copy {
position: absolute;
top: 260px;
}
.copy1 {
position: absolute;
top: 330px;
}

.C {
position: absolute;
top: 330px;
}
.D {
position: absolute;
top: 420px;  
}

.save {
position: absolute;
top: px;
left: 60px;
color: #FFFFFF;
font-family: Roboto;
font-weight:bold;
font-size: 13px; 
}

.save-btn {
position: absolute;
left: 220px;
top: 750px;
background-color: #81C8CE;
width: 200px;
height: 40px;
margin-bottom: 150px;  
}

.edit {
position: absolute;
top: px;
left: 60px;
color: #FFFFFF;
font-family: Roboto;
font-weight:bold;
font-size: 13px; 
}

.edit-btn {
position: absolute;
left: 220px;
top: 750px;
background-color: #81C8CE;
width: 200px;
height: 40px;
margin-bottom:150px;  
}

.organize {
position: absolute;
left: 400px;

}

/* Dropdown*/
.dropdown{
left: 30px;
}

#img-sort {
position: absolute;
top: 43px;
left: 1030px;
}

.logout-box {
position: relative;
left: 900px;
top: 10px;
background-color: #F6F6F5;
width: 150px;
height: 40px;

}

.dropdown{
left: 30px;
}

.dropdown-content {
display: none;
position: absolute;
left: 900px;
top: 65px;
background-color: #F6F6F5;
min-width: 150px;
overflow: auto;
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
font-size: 12px;
text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: #FF5A74;}

.show {display: block;}

/*DASHBOARD*/
.box-profile {
position: relative;
left: 250px;
top: 30px;
background-color: #FFFFFF;
width: 280px;
height: 280px;
}

.profile-heading {
position: relative;
left: 40px;
top: 105px;
color: #000000;
font-family: Roboto;
font-weight: bold; 
font-size: 18px;  
}

.profile-subheading {
position: relative;
left: 40px;
top: 90px;
color: #736E6E;
font-family: Roboto;
font-style: italic;
font-weight: bold; 
font-size: 10px;  
}

.box-profileA {
position: relative;
left: 0px;
top: 160px;
background-color: #43D0BE;
width: 280px;
height: 60px;
}

.A-btext {
position: relative;
left: 100px;
top: 25px;
color: #FFFFFF;
font-family: Roboto;
font-weight: bold; 
font-size: 12px;  
}

.box-report {
position: absolute;
left: 560px;
top: 132px;
background-color: #FFFFFF;
width: 280px;
height: 280px;
}

.report-heading {
position: relative;
left: 40px;
top: 90px;
color: #000000;
font-family: Roboto;
font-weight: bold; 
font-size: 18px;  
}

.report-subheading {
position: relative;
left: 40px;
top: 75px;
color: #736E6E;
font-family: Roboto;
font-style: italic;
font-weight: bold; 
font-size: 10px;  
}

.box-reportA {
position: relative;
left: 0px;
top: 142px;
background-color: #8C64CC;
width: 280px;
height: 60px;
}

.B-btext {
position: relative;
left: 75px;
top: 25px;
color: #FFFFFF;
font-family: Roboto;
font-weight: bold; 
font-size: 12px;  
}

.box-nominate {
    position: absolute;
    left: 870px;
    top: 132px;
    background-color: #FFFFFF;
    width: 280px;
    height: 280px;
    
}
.nominate-heading {
    position: relative;
    left: 40px;
    top: 90px;
    color: #000000;
    font-family: Roboto;
    font-weight: bold; 
    font-size: 18px;  
}
.nominate-subheading {
    position: relative;
    left: 40px;
    top: 75px;
    color: #736E6E;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold; 
    font-size: 10px;  
}
.box-nominateA {
    position: relative;
    left: 0px;
    top: 142px;
    background-color: #FF6C44;
    width: 280px;
    height: 60px;
    
}
.C-ctext {
   position: relative;
    left: 85px;
    top: 25px;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: bold; 
    font-size: 12px;  
}

.box-session {
position: absolute;
left: 250px;
top: 450px;
background-color: #FFFFFF;
width: 280px;
height: 280px;
padding-bottom: 50px;

}
.session-heading {
position: relative;
left: 40px;
top: 90px;
color: #000000;
font-family: Roboto;
font-weight: bold; 
font-size: 18px;  
}
.session-subheading {
position: relative;
left: 40px;
top: 75px;
color: #736E6E;
font-family: Roboto;
font-style: italic;
font-weight: bold; 
font-size: 10px;  
}
.box-sessionA {
position: relative;
left: 0px;
top: 142px;
background-color: #18BBD5;
width: 280px;
height: 60px;

}
.D-btext {
position: relative;
left: 90px;
top: 25px;
color: #FFFFFF;
font-family: Roboto;
font-weight: bold; 
font-size: 12px;  
}

.box-ml {
position: absolute;
left: 560px;
top: 450px;
background-color: #FFFFFF;
width: 280px;
height: 280px;
padding-bottom: 50px;

}
.ml-heading {
position: relative;
left: 40px;
top: 90px;
color: #000000;
font-family: Roboto;
font-weight: bold; 
font-size: 18px;  
}
.ml-subheading {
position: relative;
left: 40px;
top: 75px;
color: #736E6E;
font-family: Roboto;
font-style: italic;
font-weight: bold; 
font-size: 10px;  
}
.box-mlA {
position: relative;
left: 0px;
top: 142px;
background-color: #E56CB5;
width: 280px;
height: 60px;

}
.D-btext {
position: relative;
left: 90px;
top: 25px;
color: #FFFFFF;
font-family: Roboto;
font-weight: bold; 
font-size: 12px;  
}

/*SCHEDULE*/
.box-class {
    position: relative;
    left: 450px;
    top: 73px;
    background-color: #FFFFFF;
    width: 246px;
    height: 193px;
    
}

.A-heading {
    text-align: center;
    position: relative;
    top: 35px;
    color: #000000;
    font-family: Roboto;
    font-weight: bold; 
    font-size: 14px;  
}


.boxa {
    background-color: #43D0BE;
    width: 246px;
    height: 10px;
    
}

.A-btext {
   
    left: 100px;
    top: 25px;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: bold; 
    font-size: 12px;  
}

img{
    position: relative;
    top: -34px;
    left: 15px;
}

#image-1 {
    position: relative;
    top: 75px;
    left: 66px;
 
}

#image-2 {
    position: relative;
    top: 50px;
    left: 85px;
 
}

#img-sort {
    position: absolute;
    top: 43px;
    left: 1030px;
}

.box-lecture {
    position: relative;
    left: 720px;
    top: -120px;
    background-color: #9CDFD6;
    width: 246px;
    height: 193px;
    
}

.box-lecture:hover {
    color: #FF5A74;
    font-weight: bold;
    background-color: #FFFFFF;

}

.B-heading {
    text-align: center;
    position: relative;
    top: 45px;
    color: #000000;
    font-family: Roboto;
    font-weight: bold; 
    font-size: 14px;  
}

.box-organize {
    position: relative;
    left: 90px;
}

/* Table*/
.table-organize {
    font-family: 'roboto';
    border-collapse: collapse;
    width: 80%;
    align-items: center;
    margin: -50px 0 0 240px;
    font-size: 12px;
}


td, th {
    text-align: center;
    padding: 10px;
    height: 30px;
   
}


tr:nth-child(even) {
    background-color: #ECECEC;
}

tr:nth-child(odd) {
    background-color: #fff;
}

/*ATTENDANCE*/

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
    border: 1px solid #eee;
}

input {
    cursor: pointer;
}

.plea{
    text-align: center;
}

select{
    width: 150px;
}

/*NOMINATE*/
/* Style page content */
.main {
margin-left: 160px; /* Same as the width of the sidebar */
padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.header-box {
margin-left: 200px;
position: relative;
padding-top: 5px;
width: 100%;
height:80px;
max-width: 100%;
background-color: #FFFFFF;
box-shadow: 2px 2px 2px #A09E9E;
}

.dashboardtext {
position: relative;
top: -15px;
padding-left: 20px;
color: #D6D4D4;
font-family: Roboto;
font-weight:bold;
}

.attendanceincharge {
position: absolute;
top: 42px;
left: 133px;
color: #81C8CE;
font-family: Roboto;
font-weight:bold;
}

.text {
position: absolute;
top: 85px;
left: 220px;
color: #565353;
font-family: Roboto;
font-weight:bold;
font-size: 13px;
}

.textGC {
position: absolute;
top: 85px;
left: 330px;
color: #81C8CE;
font-family: Roboto;
font-weight: bold;
font-style: italic;
font-size: 13px;
}

.text1 {
position: absolute;
top: 85px;
left: 405px;
color: #565353;
font-family: Roboto;
font-weight:bold;
font-size: 13px;
}

.logout-box {
position: relative;
left: 900px;
top: 10px;
max-width: 100%;
background-color: #F6F6F5;
width: 150px;
height: 40px;

}
.username {
position: relative;
left: 20px;
top: 5px;
color: #000000;
font-family: Roboto;
font-weight: bold; 
font-size: 12px;

}

.user-status {
position: relative;
left: 20px;
top: -5px;
color: #18BBD5;
font-family: Roboto;
font-weight: bold; 
font-size: 8px;

}

.img {
position: relative;
top: -34px;
left: 15px;

}

.img-sort {
position: absolute;
top: 43px;
left: 1030px;
}

.group {
position: relative;
top: 80px;
left: -145px;
color: #837B7B;
font-family: Roboto;
font-weight:bold;
font-size: 13px;

}

.leader{
position: relative;
top: 100px;
left: -145px;
color: #837B7B;
font-family: Roboto;
font-weight:bold;
font-size: 13px;

}

.asstgroupleader {
position: relative;
top: 120px;
left: -145px;
color: #837B7B;
font-family: Roboto;
font-weight:bold;
font-size: 13px;

}

.group-box {
position: relative;
left: 40px;
top: -15px;
background-color: #FFFFFF;
width: 250px;
height: 30px;
cursor: pointer;

}

.leader-box {
position: relative;
left: 0px;
top: 20px;
background-color: #FFFFFF;
width: 250px;
height: 30px;
cursor: pointer;

}

.asstgroupleader-box {
position: relative;
left: 0px;
top: 25px;
background-color: #FFFFFF;
width: 250px;
height: 30px;
cursor: pointer;

}

.groupcode {
position: relative;
top: 8px;
left: 18px;
color: #837B7B;
font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 13px;

}

.groupleader {
position: relative;
top: 8px;
left: 18px;
color: #837B7B;
font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 13px;

}

.groupassistant {
position: relative;
top: 8px;
left: 18px;
color: #837B7B;
font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 13px;

}

.save {
position: absolute;
top: px;
left: 60px;
color: #FFFFFF;
font-family: Roboto;
font-weight:bold;
font-size: 13px; 
}

.save-button {             /*+++++++++++++++++++++++++++++++++++++++++++++++++*/
position: absolute;
left: 600px;
top: 550px;
background-color: #81C8CE;
width: 200px;
height: 40px;
 
}
.save-button:hover {   /*+++++++++++++++++++++++++++++++++++++++++++++++++*/
position: absolute;
left: 600px;
top: 550px;
background-color: DodgerBlue;
cursor: pointer;
width: 200px;
height: 40px;

}
/* Dropdown */
.dropdown{
left: 30px;
}

#img-sort {
position: absolute;
top: 43px;
left: 1030px;
}

.logout-box {
position: relative;
left: 900px;
top: 10px;
background-color: #F6F6F5;
width: 150px;
height: 40px;

}

.dropdown{
left: 30px;
}

.dropdown-content {
display: none;
position: absolute;
left: 900px;
top: 65px;
background-color: #F6F6F5;
min-width: 150px;
overflow: auto;
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
font-size: 12px;
text-decoration: none;
display: block;
}

.dropdown a:hover {
background-color: #FF5A74;
}

.show {
display: block;
}

.group-name {        /*+++++++++++++++++++++++++++++++++++++++++++++++++*/
position: relative;
top: 60px;
left: 220px;
font-family: Roboto;
font-weight: bold;
font-size: 13px;
color: #837B7B;
}

.custom-select {    /*dari sini sampai CSS CODE ENDED ++++++++++++++++++++++++++++++++++++*/
position: relative;
top: 11px;
left: 440px;
font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 13px;
color: #837B7B;
}

.custom-select select {
display: none; /*hide original SELECT element:*/
}

.select-selected {
background-color: #fefefe;

}

/*style the arrow inside the select element:*/
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
color:  #81C8CE;
font-weight: bold;
padding: 8px 16px;
border: 1px solid transparent;
border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
cursor: pointer;
user-select: none;
}

/*style items (options):*/
.select-items {
position: absolute;
background-color: #fefefe;
top: 100%;
left: 0;
right: 0;
z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
display: none;
}

.select-items div:hover, .same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
}

.sidenav a.current {      /* THIS ONE UNTUK HIGHLIGHT CURRENT PAGE ++++++++++++++++++++++++++++++++++++++++*/
color: #FF5A74;
font-weight: bold;
background-color: #F6F6F5;

} 
